#header .service_area {
  position: relative;
  left: 70%;
  font-size: 12px;
}
#header .wrap_search {
  margin-top: 20px;
  margin-left: 200px;
}
#header .wrap_search h1 {
  position: relative;
  display: inline;
}
#header .wrap_search a {
  font-size: 50px;
  text-align: center;
  color: yellowgreen;
}

#header .wrap_search form {
  position: absolute;
  display: inline;
  margin-top: 10px;
  margin-left: 30px;
}
#header .wrap_search .search_bar {
  width: 600px;
  height: 50px;
  border: 3px solid yellowgreen;
}

#header .content_nav {
  position: relative;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
}

#header .content_nav .content_inner {
  position: relative;
  width: 1130px;
  padding: 0 30px;
  margin: 0 auto;
}
#header .content_nav .content_inner .decoration_nav,
#header .content_nav .content_inner .non_decoration_nav {
  overflow: hidden;
  position: relative;
  padding: 11px 270px 11px 0;
}
#header .content_nav ul li {
  margin-left: 2px;
  display: inline;
}
ul {
  display: inline;
}
ul .decoration_nav {
  position: relative;
  display: inline;
}

#header .content_nav .non_decoration_nav a {
  color: black;
}
#header .content_nav .decoration_nav a {
  float: left;
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  letter-spacing: -0.3px;
  color: yellowgreen;
}
#container {
  position: relative;
  width: 1130px;
  padding: 20px 30px;
  margin: 0 auto;
  letter-spacing: -0.2px;
}
#container .left_section {
  float: left;
  width: 750px;
}
#container .right_section {
  float: right;
  width: 350px;
}
#container .left_section {
  position: relative;
  width: 350px;
  background-color: #fff;
}
#container .login_form {
  padding: 16px 16px 12px 17px;
  background-color: #f7f9fa;
  border: 1px solid #dae1e6;
}

#container .login_form p {
  padding: left 3px;
  color: gray;
  font-size: 12px;
}
#container .login_form .login_link {
  display: block;
  padding: 15px 0;
  margin-top: 11px;
  background-color: #19ce60;
  border: 1px solid #15c654;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}
#container .login_form .login_link p {
  color: white;
}
#container .login_form {
  position: absolute;
  margin-top: 50px;
}
#container .login_form .sub_area {
  margin: 14px 8px 0 4px;
}

#container .login_form .sub_area .join_form {
  float: right;
  color: black;
}
